<%include partials/header %>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="course-archive.html">Courses offered</a></li>
                <li ><a href="scholarship.html">Registration</a></li>
                
                <li><a href="gallery.html">Gallery</a></li>                
               
                <li><a href="contact.html">Contact</a></li>
              </ul>           
            </div><!--/.nav-collapse -->
          </div>     
        </nav>  
      </div>
      <!-- END MENU -->    
    </header>
    <!--=========== END HEADER SECTION ================--> 

    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="imgBanner">
      <h2>Course Details</h2>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

    
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="courseArchive">
      <div class="container">
        <div class="row">
          <!-- start course content -->
          <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				KSHITIZ
			</h3>
			<dl>
				<dt>
					One Year Classroom programme for Class XII students.
				</dt>
				
			</dl>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						
						<th>
							Course Name
						</th>
						<th>KSHITIZ
		
						</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						
						<td>
							Eligibility
						</td>
						<td>
							Class XII appearing students
						</td>
						
					</tr>
					<tr class="active">
						
						<td>
							Who Should Join
						</td>
						<td>
							All students who aspire to crack IIT JEE(Main and Advanced),  olympiads and excel in Board exams.
						</td>
						
					</tr>
					<tr class="success">
						
						<td>
							Course Commencement
						</td>
						<td>
							MARCH-MAY
						</td>
						
					</tr>
					<tr class="warning">
						
						<td>
							Course Duration
						</td>
						<td>
							42 weeks
						</td>
						
					</tr>
					
				</tbody>
			</table>
			
		</div>
	</div>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				ABOUT THE COURSE
			</h3>
			<p>
			In this course the student gets entire exposure to the syllabus of Class-XI-XII (CBSE, JEE) . Once the complete syllabus is completed revision session of is conducted.</p>
		</div>
		<div class="col-md-12">
			<h3>
				Course Structure
			</h3>
			<dl>
				<dt>
					The complete syllabus of Class XI-XII is covered in 2 phases
				</dt>
				<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tbody>
					<tr>
						
						<th>
							PHASE
						</th>
						<th>
							SCOPE
						</th>
						
					</tr>
					<tr>
						
						<td>
							PHASE 1(March-May to January)
						</td>
						<td>
							Covering entire Class XI-XII syllabus.
						</td>
						
					</tr>
				
					<tr>
						
						<td>
							PHASE 2(Revision - February - March)
						</td>
						<td>
							Revision and Doubt clearing session for XI-XII exams with AITS.
						</td>
						
					</tr>
					
					
				</tbody>
			</table>
		</div>
	</div>
</div>
			</dl>
		</div>
	</div>
</div>
	
</div>
</div>
          <!-- End course content -->

          <!-- start course archive sidebar -->
          
              <!-- End single sidebar -->
             
          </div>
          <!-- start course archive sidebar -->
        </div>
      </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->
    
    <!--=========== BEGIN FOOTER SECTION ================-->
    <footer id="footer">
      <!-- Start footer top area -->
      
      <!-- End footer top area -->

      <%include partials/footer %>