<%include partials/header %>
          
<div id="navbar" class="navbar-collapse collapse">
  <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
    <li ><a href="/">Home</a></li>
    <li><a href="course-archive.html">Projects</a></li>
    <li><a href="scholarship.html">Registration</a></li>
   
    <li class="active"><a href="/gallery">Gallery</a></li>                
    
    
    <li><a href="contact.html">Contact<i class="audio description icon" style="font-size: 2em;"></i></a></li>
  </ul>           
</div><!--/.nav-collapse -->
</div>     
</nav>  
</div>
<!-- END MENU -->    
</header>
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="imgBanner">
      <h2 style="color: #c9a6a6;">Gallery</h2>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->
    
    <!--=========== BEGIN GALLERY SECTION ================-->
    <section id="gallery">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="gallerySLide" class="gallery_area">
                <a href="/public/img/gallery/b1.jpg" title="Class Room">
                  <img class="gallery_img" src="/public/img/gallery/b1.jpg" alt="img" />
                <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b2.jpg" title="Class Room">
                  <img class="gallery_img" src="/public/img/gallery/b2.jpg" alt="img" />
                <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b3.jpg" title="Class Room">
                  <img class="gallery_img" src="/public/img/gallery/b3.jpg" alt="img" />
                <span class="view_btn">View</span>
                </a>
                
                <div class="fb-post" data-href="https://m.facebook.com/teaminnoreva/photos/a.109327420491488/118472302910333/?type=3&source=48"
                     data-width="350"></div>

                <a href="/public/img/gallery/b4.jpg" title="Class Room">
                  <img class="gallery_img" src="/public/img/gallery/b4.jpg" alt="img" />
                <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b5.jpg" title="Class Room">
                  <img class="gallery_img" src="/public/img/gallery/b5.jpg" alt="img" />
                <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b6.jpg" title="Class Room">
                  <img class="gallery_img" src="/public/img/gallery/b6.jpg" alt="img" />
                <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b7.jpg" title="Class Room">
                  <img class="gallery_img" src="/public/img/gallery/b7.jpg" alt="img" />
                <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b8.jpg">
                  <img class="gallery_img" src="/public/img/gallery/b8.png" alt="img" />
                  <span class="view_btn">View</span>
                </a>
                 <a href="/public/img/gallery/b9.jpg" title="This is Title">
                  <img class="gallery_img" src="/public/img/gallery/b9.jpg" alt="img" />
                <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b10.jpg" title="This is Title2">
                  <img class="gallery_img" src="/public/img/gallery/b10.png" alt="img" />
                  <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b11.jpg" title="This is Title3">
                  <img class="gallery_img" src="/public/img/gallery/b11.png" alt="img" />
                  <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/b12.jpg" title="This is Title4">
                  <img class="gallery_img" src="/public/img/gallery/b12.jpg" alt="img" />
                  <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/img-large1.jpg" title="This is Title5">
                  <img class="gallery_img" src="/public/img/gallery/img-small1.jpg" alt="img" />
                  <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/img-large2.jpg">
                  <img class="gallery_img" src="/public/img/gallery/img-small2.jpg" alt="img" />
                  <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/img-large3.jpg">
                  <img class="gallery_img" src="/public/img/gallery/img-small3.jpg" alt="img" />
                  <span class="view_btn">View</span>
                </a>
                <a href="/public/img/gallery/img-large4.jpg">
                  <img class="gallery_img" src="/public/img/gallery/img-small4.jpg" alt="img" />
                  <span class="view_btn">View</span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END GALLERY SECTION ================-->
    
    <!--=========== BEGIN FOOTER SECTION ================-->
    
      <!-- End footer top area -->
  <!-- End footer top area -->
  <%include partials/footer %>