<%include partials/header %>

<!--=========== END HEADER SECTION ================-->
<div id="navbar" class="navbar-collapse collapse">
  <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <!-- <li><a href="scholarship.html">Registration</a></li> -->
    <li><a href="/post" class="project-btn">Upload Projects</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li ><a href="/contacts">contact us</a></li>
    <!-- <li><a href="/team">Team</a></li> -->
    <!-- <li><a href="/contact">Contact</a></li> -->
    <li><a href="/Login">LogIn</a></li>
    <li><a href="/Signup">SignUp</a></li>
  </ul>
</div>
<!--/.nav-collapse -->
</div>
</nav>
</div>
<!-- END MENU -->
</header>
<!--=========== ADD CROUSEL ================-->
<%include partials/crousel %>

<!--=========== BEGIN ABOUT US SECTION ================-->
<section id="aboutUs">
  <div class="container">
    <div class="row" style="height:450px; align-items: center;justify-content: center; padding-top: 30px;">
      <!-- Start about us area -->
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="aboutus_area wow fadeInLeft">
          <h2 class="titile">About Us</h2>
          <p>IoT Lab is a research platform exploring the potential of crowdsourcing and Internet of Things for
            multidisciplinary research with more end-user interactions. It gives the power to the crowd to be at the
            core of the research and innovation process. It gives you the power to change the world and the way we
            understand it.At Em!oTx,our aim is to make you learn new technology by making real life projects. We will
            help to make best projects in your final year. Here,We @Em!oTx, look forward to organize workshops and
            participate in various events.</p>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="newsfeed_area wow fadeInRight">
          <ul class="nav nav-tabs feed_tabs" id="myTab2">
            <li class="active"><a href="#news" data-toggle="tab">ACHIEVEMENTS</a></li>
            <!--<li><a href="#notice" data-toggle="tab">Notice</a></li>-->
            <li><a href="#events" data-toggle="tab">Events</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" style="overflow:scroll">
            <!-- Start news tab content -->
            <div class="tab-pane fade in active" id="news" style="overflow: auto;height:20em">
              <ul class="news_tab">
                <li>
                  <div class="media">
                    <div class="media-left">
                      <a class="news_img" href="#">
                        <img class="media-object" src="/public/img/radar.jpg" alt="img">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="#">Radar System Project Finished</a>
                      <span class="feed_date">20.01.2018</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left">
                      <a class="news_img" href="#">
                        <img class="media-object" src="/public/img/smartdustbin.jpg" alt="img">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="#">Smart Dustbin Project </a>
                      <span class="feed_date">16.01.18</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left">
                      <a class="news_img" href="#">
                        <img class="media-object" src="/public/img/traffic.jpg" alt="img">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="#">Smart Traffic Light Control</a>
                      <span class="feed_date">19.01.18</span>
                    </div>
                  </div>
                </li>
                <!-- <li>
                  <div class="media">
                    <div class="media-left">
                      <a class="news_img" href="#">
                        <img class="media-object" src="/public/img/radar.jpg" alt="img">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="#">Radar System Project Finished</a>
                      <span class="feed_date">20.01.2018</span>
                    </div>
                  </div>
                </li> -->
                <!-- <li>
                  <div class="media">
                    <div class="media-left">
                      <a class="news_img" href="#">
                        <img class="media-object" src="/public/img/radar.jpg" alt="img">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="#">Radar System Project Finished</a>
                      <span class="feed_date">20.01.2018</span>
                    </div>
                  </div>
                </li> -->
              </ul>
              <!--<a class="see_all" href="#">See All</a>-->
            </div>

            <!-- Start events tab content -->
            <div class="tab-pane fade " id="events" style="overflow: auto; height:20em ">
              <ul class="news_tab">
                <li>
                  <div class="media">
                    <div class="media-left">
                      <a class="news_img" href="#">
                        <img class="media-object" src="/public/img/iot.jpg" alt="img">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="#">To Be Updated Soon</a>
                      <span class="feed_date">27.01.18</span>
                    </div>
                  </div>
                </li>


                <!--<a class="see_all" href="#">See All</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== END ABOUT US SECTION ================-->

<!--=========== BEGIN WHY US SECTION ================-->
<section id="whyUs">
  <!-- Start why us top -->
  <div class="row" style="align-items: center;justify-content: center; padding-top: 30px;">
    <div class="col-lg-12 col-sm-12">
      <div class="whyus_top">
        <div class="container-fluid">
          <!-- Why us top titile -->
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="title_area">
                <h2 class="title_two">Why Us</h2>
                <span></span>
              </div>
            </div>
          </div>
          <!-- End Why us top titile -->
          <!-- Start Why us top content  -->
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single_whyus_top wow fadeInUp">
                <div class="whyus_icon">
                  <span class="fa fa-desktop"></span>
                </div>
                <h3>Technology</h3>
                <p>Special video lectures available for all topics</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single_whyus_top wow fadeInUp">
                <div class="whyus_icon">
                  <span class="fa fa-users"></span>
                </div>
                <h3>Best Mentors</h3>
                <p>M.Tech. Students to guide you anytime 24*7</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single_whyus_top wow fadeInUp">
                <div class="whyus_icon">
                  <span class="fa fa-flask"></span>
                </div>
                <h3>Best facilities</h3>
                <p>Well equipped Lab with all sorts of facilities</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single_whyus_top wow fadeInUp">
                <div class="whyus_icon">
                  <span class="fa fa-support"></span>
                </div>
                <h3>NO Time Restriction</h3>
                <p>Work day or night,anytime when you want</p>
              </div class="single_whyus_top wow fadeInUp">
            </div>
          </div>
          <!-- End Why us top content  -->
        </div>
      </div>
    </div>
  </div>
  <!-- End why us top -->




  <!--=========== BEGIN OUR TUTORS SECTION ================-->
  <section id="ourTutors">
    <div class="container">
      <!-- Our courses title -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="title_area">
            <h2 class="title_two">Professor-In-Charge</h2>
            <span></span>
          </div>
        </div>
      </div>
      <!-- End Our courses titile -->
      <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail"
            style="background-color:#1b1c1e;color:#fff;border-color: #28292b;justify-content: center;">
            <img src="/public/img/jayendra.jpg" alt="...">
            <div class="caption" style="color:#fff;justify-content: center;">
              <div style="justify-content: center; margin-left:17%">
                <h3>Mr. Basudeb Behera</h3>
                <span>Assistant Professor</span>
                <p>Electronics and Communication Engineering,NIT Jamshedpur</p>
                <button class="btn btn-lg" style="background-color: #4867AA;color:#fff"><a class="fa fa-facebook"
                    style="color:#fff; text-decoration:none"
                    href="https://www.facebook.com/jayendra.kumar.5648"></a></button class="btn btn-lg">
                <button class="btn btn-lg" style="background-color: #00ACED;color:#fff"><a class="fa fa-twitter"
                    style="color:#fff; text-decoration:none" href="#"></a></button>
                <button class="btn btn-lg" style="background-color: rgb(201, 81, 238);color:#fff"><a
                    class="fa fa-instagram" style="color:#fff; text-decoration:none" href="#"></a></button>
                <button class="btn btn-lg" style="background-color: #EA4335;color:#fff"><a class="fa fa-google-plus"
                    style="color:#fff; text-decoration:none" href="#"></a></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail"
            style="background-color:#1b1c1e;color:#fff;border-color: #28292b;justify-content: center;">
            <img src="/public/img/jayendra.jpg" alt="...">
            <div class="caption" style="color:#fff;justify-content: center;">
              <div style="justify-content: center; margin-left:17%">
                <h3>Mr. Jayendra Kumar</h3>
                <span>Assistant Professor</span>
                <p>Electronics and Communication Engineering,NIT Jamshedpur</p>
                <button class="btn btn-lg" style="background-color: #4867AA;color:#fff"><a class="fa fa-facebook"
                    style="color:#fff; text-decoration:none"
                    href="https://www.facebook.com/jayendra.kumar.5648"></a></button class="btn btn-lg">
                <button class="btn btn-lg" style="background-color: #00ACED;color:#fff"><a class="fa fa-twitter"
                    style="color:#fff; text-decoration:none" href="#"></a></button>
                <button class="btn btn-lg" style="background-color: rgb(201, 81, 238);color:#fff"><a
                    class="fa fa-instagram" style="color:#fff; text-decoration:none" href="#"></a></button>
                <button class="btn btn-lg" style="background-color: #EA4335;color:#fff"><a class="fa fa-google-plus"
                    style="color:#fff; text-decoration:none" href="#"></a></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
      </div>
      <!-- End Our courses content -->
    </div>
  </section>
  <!--=========== END OUR TUTORS SECTION ================-->

  <!--=========== BEGIN STUDENTS TESTIMONIAL SECTION ================-->

  <script type="text/javascript" src="../public/js/post-protect.js"></script>

  <script>
    $(document).ready(function () {
      var post = $('.project-btn');
      // writing Ajax to send data from client side to the server side.
      post.on('click', function () {
        token = localStorage.getItem('token_user');
        console.log("token sent from client side " + token)
        $.ajax({
          url: 'http://localhost:3000/post/',
          data: { 'token': token.toString() },
          type: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          success: function (data) {
            console.log(data)
            // document.write(data);
          },
          error: function (xhr, status, error) {
            console.log('Error@index.ejs: ' + error.message);
          },
        });
      })

    });   
  </script>


  <!--=========== END STUDENTS TESTIMONIAL SECTION ================-->

  <!--=========== BEGIN FOOTER SECTION ================-->

  <!-- End footer top area -->
  <%include partials/footer %>