<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Team</title>
    <link rel="stylesheet" type="text/css" href="/public/css/team.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap css file-->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <!--semantic-->
    <link rel="stylesheet" type="text/css" href="/public/Semantic/semantic.min.css">

    <!-- Font awesome css file-->
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <!-- Superslide css file <link rel="stylesheet" href="public/css/superslides.css"> -->

    <!-- Slick slider css file <link href="/public/css/slick.css" rel="stylesheet">-->

    <!-- Circle counter cdn css file -->
    <!-- smooth animate css file -->
    <link rel="stylesheet" href="/public/css/animate.css">
    <!-- preloader -->

    <!-- gallery slider css -->
    <link type="text/css" media="all" rel="stylesheet" href="/public/css/jquery.tosrus.all.css" />
    <!-- Default Theme css file -->
    <link id="switcher" href="/public/css/themes/default-theme.css" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="/public/css/style.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="../public/img/logoem.jpg" />
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width:100%;
        }
        header{
            width:100%;
        }
    </style>
</head>

<body>
    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
        <!-- BEGIN MENU -->

        <div class="menu_area">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header"><a href="/"><img src="/public/img/logoem.jpg" alt="logo" height="90"
                                width="150" style="float:left"></a>
                        <!-- <a class="navbar-brand" href="index.html" style="float:left"></a>  -->
                        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- LOGO -->
                        <!-- TEXT BASED LOGO -->
                        <!--<a class="navbar-brand" href="index.html">Sankalp<span>Classes</span></a> -->
                        <!-- IMG BASED LOGO  -->


                    </div>
                    <!--=========== END HEADER SECTION ================-->
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/projects">Projects</a></li>
                            <li><a href="scholarship.html">Registration</a></li>

                            <li><a href="/gallery">GALLERY</a></li>


                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        </div>
        <!-- END MENU -->
    </header>
    <section>
        <!-- START TEAM -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12 pull-right">
                        <div class="team-section-text">
                            <div class="section-count">
                                <span>05</span>
                            </div>
                            <!-- END section-count-->
                            <div class="section-text">
                                <h2 class="section-title">Innoreva Core Team</h2>
                                <p>
                                    Your perfect landing page to present your app. Ignis re volorerovit qui offic tenimo
                                    minvenietur sus aut vid et adis est pressus.
                                </p>
                            </div>
                            <!-- END section-text-->
                        </div>
                        <!-- END team-section-text-->
                    </div>
                    <!-- END col-md-5 col-sm-12 pull-right-->
                    <div class="col-md-7 col-sm-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="team-list">
                                    <ul>
                                        <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
                                            <a href="#team-1" data-team="team-1">
                                                <figure>
                                                    <img src="http://echotheme.com/naive-v2/static-image/img/man/1.jpg"
                                                        alt="Team Member image One">
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="active wow zoomIn" data-wow-duration="1s" data-wow-delay=".3s">
                                            <a href="#team-2" data-team="team-2">
                                                <figure>
                                                    <img src="http://echotheme.com/naive-v2/static-image/img/man/2.jpg"
                                                        alt="Team Member image two">
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                                            <a href="#team-3" data-team="team-3">
                                                <figure>
                                                    <img src="http://echotheme.com/naive-v2/static-image/img/man/3.jpg"
                                                        alt="Team Member image three">
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
                                            <a href="#team-4" data-team="team-4">
                                                <figure>
                                                    <img src="http://echotheme.com/naive-v2/static-image/img/man/4.jpg"
                                                        alt="Team Member image four">
                                                </figure>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END team-list-->
                            </div>
                            <!-- END col-sm-4-->
                            <div class="col-md-9 col-sm-8">

                                <div id="team-1" class="team-single">
                                    <div class="team-img">
                                        <img src="http://echotheme.com/naive-v2/static-image/img/man/1.jpg" alt="">
                                        <div class="team-social">
                                            <ul>
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                        <!-- END team-social-->
                                    </div>
                                    <!-- END team-img-->
                                    <div class="team-info text-center">
                                        <h4>Andy Maray</h4>
                                        <p>Founder &amp; CEO</p>
                                    </div>
                                    <!-- END team-info-->
                                </div>
                                <!-- END team-single-->


                                <div id="team-2" class="team-single active">
                                    <div class="team-img">
                                        <img src="http://echotheme.com/naive-v2/static-image/img/man/2.jpg" alt="">
                                        <div class="team-social">
                                            <ul>
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                        <!-- END team-social-->
                                    </div>
                                    <!-- END team-img-->
                                    <div class="team-info text-center">
                                        <h4>Gustavo Souza</h4>
                                        <p>Naive Designer</p>
                                    </div>
                                    <!-- END team-info-->
                                </div>
                                <!-- END team-single-->


                                <div id="team-3" class="team-single">
                                    <div class="team-img">
                                        <img src="http://echotheme.com/naive-v2/static-image/img/man/3.jpg" alt="">
                                        <div class="team-social">
                                            <ul>
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                        <!-- END team-social-->
                                    </div>
                                    <!-- END team-img-->
                                    <div class="team-info text-center">
                                        <h4>Nikolaos Markopoulos</h4>
                                        <p>Developer</p>
                                    </div>
                                    <!-- END team-info-->
                                </div>
                                <!-- END team-single-->


                                <div id="team-4" class="team-single">
                                    <div class="team-img">
                                        <img src="http://echotheme.com/naive-v2/static-image/img/man/4.jpg" alt="">
                                        <div class="team-social">
                                            <ul>
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                        <!-- END team-social-->
                                    </div>
                                    <!-- END team-img-->
                                    <div class="team-info text-center">
                                        <h4>Nur jaman</h4>
                                        <p>Developer</p>
                                    </div>
                                    <!-- END team-info-->
                                </div>
                                <!-- END team-single-->

                            </div>
                            <!-- END col-sm-8-->
                        </div>
                        <!-- END row-->
                    </div>
                    <!-- END col-md-7 col-sm-12 -->
                </div>
                <!-- END row-->
            </div>
            <!-- END container-->
        </section>
        <!-- END team-->
        <!-- END TEAM -->
    </section>




    <div class="vcenter">
        <section class="section">
            <div class="container">
                <header class="section-header">
                    <h1 class="section-title">Our Coordinators</h1>
                    <p>Responsive Team modules using jquery and CSS only</p>
                </header>

                <ul class="team">
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/men/28.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Javier Bates</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/women/45.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Stacey Cooper</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/women/84.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Celina Ross</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/men/51.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Bradley Pierce</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/women/73.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Heidi Carpenter</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Jeremy Weaver</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/women/50.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Jeanette Harvey</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/men/27.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Gary Bryant</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/women/71.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Sherry Richardson</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/men/55.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Hugh Brooks</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/women/96.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Irene Ward</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/men/61.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Edgar Dunn</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/men/35.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Shawn Fernandez</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                    <li class="team__members">
                        <div class="userProfile">
                            <figure class="userProfile__thumbnail">
                                <img src="https://randomuser.me/api/portraits/men/52.jpg" alt="Photo"
                                    class="userProfile__image">
                                <button class="btn btn-secondary" style="font-size: 0.6rem;">Jaiver Bates</button>
                            </figure>


                        </div>
                        <div class="team__details">
                            <header class="team__meta">
                                <h3 class="team__meta__title">Micheal Snyder</h3>
                                <div class="team__meta__designation">Software Developer</div>
                            </header>
                            <div class="team__details__summery">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem,
                                consequatur dolores excepturi esse.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/public/js/team.js"></script>
</body>

</html>