/*--------------------*/
/* HOME HEADER */
/*--------------------*/

#header{
	float: left;
	display: inline;
	width: 100%;
  background-color: #313b3d;	
}

/*--------.menu_area-------- */
.menu_area{
  float: left;
  display: inline;
  width: 100%;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px; 
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: transparent;
  color: #fff;
}
.navbar-default {
  background-color:white;
  border-color: transparent;
}
#navbar{overflow-x: hidden;}
.navbar-default .navbar-nav > li > a {
  color: #000;
  padding: 30px 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #48575a; 
}
.navbar-nav > li > .dropdown-menu:before { 
  border-bottom: 15px solid #48575a; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 25px;
  top: -15px;
  width: 0;
}
.navbar-nav > li > .dropdown-menu li a {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  color: #fff;
  display: block;  
  opacity: 0.8;
  padding: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-nav > li > .dropdown-menu > li:last-child a {
  border-bottom: medium none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color:transparent;  
  text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;  
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}





@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.userProfile, .team {
  display: flex;
}

:root {
  --userthumb: 75px;
  --arrowSize: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  /* background: linear-gradient(-45deg, #ff7675, #303952); */
  padding: 0px;
  margin: 0px;
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* @media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
} */

.section {
  background-color: #ffffff;
  padding: 50px;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.section:before, .section:after {
  position: absolute;
  bottom: 0;
  right: 0px;
  z-index: -1;
  content: " ";
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: white;
  opacity: 0.3;
  width: 400px;
  height: 450px;
  display: inline-block;
  transform: rotate(-180deg);
}
.section:before {
  transform: translateX(50%) translateY(30%) rotate(-60deg);
  opacity: 0.2;
}
.section:after {
  opacity: 0.1;
  transform: translateX(30%) translateY(20%) rotate(-45deg);
}
.section-header {
  padding: 15px 0;
  text-align: center;
}
.section-header * {
  color: white;
  text-align: center;
}
.section-title {
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 35px;
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
  margin: 0 auto;
}
.section-title:after {
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.userProfile {
  flex-wrap: wrap;
  align-items: center;
}
.userProfile__thumbnail {
  width: var(--userthumb, 75px);
  height: var(--userthumb, 75px);
  flex: 0 0 auto;
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
}
.userProfile__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: #f1f1f1;
}

.team {
  padding: 0px;
  list-style: none;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .team {
    justify-content: center;
  }
}
.team__members {
  position: relative;
  padding: 1rem;
  display: none;
  margin-bottom: calc(var(--userthumb) + var(--arrowSize)*2 );
  box-sizing: border-box;
  flex: 0 0 100%;
  filter: grayscale(1);
}
@media (min-width: 480px) {
  .team__members {
    padding: 1rem;
    display: inline-block;
    flex: 0 0 20%;
    margin: 0px;
  }
}
.team__members:nth-child(9n + 6), .team__members:nth-child(9n + 7), .team__members:nth-child(9n + 8), .team__members:nth-child(9n + 9) {
  left: auto;
}
@media (min-width: 480px) {
  .team__members:nth-child(9n + 6), .team__members:nth-child(9n + 7), .team__members:nth-child(9n + 8), .team__members:nth-child(9n + 9) {
    left: 10%;
  }
}
.team__members:nth-child(9n + 9) {
  margin: 0px;
}
@media (min-width: 480px) {
  .team__members:nth-child(9n + 9) {
    margin-right: 10%;
  }
}
.team__members .userProfile {
  justify-content: center;
  position: absolute;
  top: calc(100% + var(--arrowSize));
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media (min-width: 480px) {
  .team__members .userProfile {
    position: static;
  }
}
.team__members .userProfile__thumbnail {
  position: relative;
}
.team__members .userProfile__thumbnail:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--userthumb, 50px);
  height: var(--userthumb, 50px);
  transform: translate(-50%, -50%) scale(0);
  background: linear-gradient(90deg, #fff, #f19066);
  background-size: 400% 400%;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s linear;
}
.team__members:hover, .team__members.team__members--show {
  filter: grayscale(0);
  display: inline-block;
}
@media (min-width: 480px) {
  .team__members:hover .team__details, .team__members.team__members--show .team__details {
    transform: translateX(-50%) scale(1, 1);
  }
}
.team__members:hover .userProfile__thumbnail:after, .team__members.team__members--show .userProfile__thumbnail:after {
  transform: translate(-50%, -50%) scale(1.2);
  animation: rainbow-border 1.5s linear infinite;
}
@media (max-width: 480px) {
  .team__members:hover:not(.team__members--show) {
    display: none !important;
  }
}
.team__details {
  margin: 0 auto;
  position: relative;
  transform: translateX(0%) scale(1, 1);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transform-origin: center bottom;
  transition: transform 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
@media (min-width: 480px) {
  .team__details {
    position: absolute;
    bottom: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%) scale(0, 0);
  }
}
.team__details:after {
  width: var(--arrowSize);
  height: var(--arrowSize);
  position: absolute;
  top: calc(100% - var(--arrowSize)/2);
  background-color: #fff;
  content: " ";
  transform: rotate(45deg);
  left: calc(50% - var(--arrowSize)/2);
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.team__details__summery {
  border-top: 1px dashed #ccc;
  padding-top: 15px;
  font-size: 15px;
  color: #aeaeae;
}
.team__meta {
  padding-bottom: 15px;
}
.team__meta__title {
  margin: 0px;
}
.team__meta__designation {
  margin-top: 10px;
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* fwufgqiefuoeiqfhiheggfeilwfiewggfiehwilfhewhfeuwgfewihfi*/

img {
    max-width: 100%;
}
#team {
    padding: 150px 0;
    background-color: #ffffff;
}
/* #fun-fact, #team {
    background: linear-gradient(-45deg, #ff7675, #303952);
} */
#team .team-section-text {
    padding-top: 70px;
}
.section-count, .section-title {
    font-family: 'Josefin Sans',sans-serif;
}
.section-count {
    height: 120px;
    overflow: hidden;
    font-weight: 100;
}
.section-count>span {
    color: #e6e9f4;
    display: block;
    font-size: 220px;
    line-height: .7em;
}
.section-title {
    color: #39a0ca;
    font-size: 48px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.section-text>p {
    margin-bottom: 15px;
}

#team {
    padding: 150px 0
}

#team .team-section-text {
    padding-top: 70px
}

#team .team-single {
    border: 8px solid #e6e9f4;
    margin: 0 auto;
    padding: 15px;
    width: 405px;
    display: none
}

#team .team-single.active {
    display: block
}

#team .team-list>ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#team .team-list>ul>li {
    position: relative;
    margin: 15px 0
}

#team .team-list>ul>li:first-child {
    margin-top: 0
}

#team .team-list>ul>li:last-child {
    margin-bottom: 0
}

#team .team-list>ul>li.active>a>figure:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(131, 158, 226, .7)
}

#team .team-list>ul>li.active::after {
    color: #3e6edf;
    content: "ï¡";
    font-family: fontawesome;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 50%
}

#team .team-list>ul>li>a>figure {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    width: 100px;
    position: relative
}

#team .team-info>h4 {
    color: #3a3a3a;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center
}

#team .team-img {
    position: relative
}

#team .team-img>img {
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#team .team-social>ul {
    bottom: 0;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    position: absolute;
    right: 30px;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#team .team-social>ul>li>a {
    border-radius: 50%;
    color: #3e6edf;
    display: block;
    font-size: 18px;
    height: 40px;
    margin: 15px 5px;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
#team .team-social>ul>li>a:hover {
    background: #3e6edf;
    color: #fff
}

#team .team-social>ul>li>a::after {
    border: 1px solid #dee3f4;
    border-radius: 50%;
    content: "";
    height: 50px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 50px
}

#team .team-single:hover .team-img>img {
    margin-left: -70px
}

#team .team-single:hover .team-social>ul {
    opacity: 1;
    right: 0
}

/* @media screen and (max-width:1200px) {
    #team {
        padding: 120px 0
    }
} */

@media screen and (max-width:991px) {
    #team {
        padding: 90px 0
    }
    #team .col-md-5.col-sm-12.pull-right {
        float: none!important
    }
    #team .team-section-text {
        padding-bottom: 50px;
        padding-top: 0
    }
}

@media screen and (max-width:767px) {
    #team {
        padding: 60px 0
    }
    #team .team-section-text {
        padding-bottom: 30px;
        padding-top: 0
    }
    #team .team-single {
        margin: 30px auto 0;
        overflow: hidden;
        padding: 10px;
        width: 100%
    }
    #team .team-list {
        text-align: center
    }
    #team .team-list>ul>li {
        position: relative
    }
    #team .team-list>ul>li>a>figure {
        height: 65px;
        position: relative;
        width: 65px
    }
    #team .team-list>ul>li.active::after {
        margin-top: 10px;
        position: absolute;
        right: 30px!important;
        top: 100%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    #team .team-list>ul>li {
        display: inline-block;
        margin: 15px 0
    }
}










@media screen and (max-width: 1200px){
	#team {
    padding: 120px 0;
	}
}
@media screen and (max-width: 991px){
	#team {
			padding: 90px 0;
	}
	#team .team-section-text {
    padding-bottom: 50px;
    padding-top: 0;
}
}